html{
	min-width: 320px;
	font-size: 62.5%;
	touch-action: manipulation;

	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : transparent;
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%;
	overflow-x: hidden !important;
}

body{
	margin : 0;
	padding : 0;
	width : 100%;
	color: $basecolor;
	font-family: $basefont;
	@include font-size($basefontsize);
	line-height: 1;
	position: relative;

	//font thin for firefox
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// sticky footer
// -------------------------
html {
	position: relative;
	min-height: 100%;
}

html, body {
	overflow-x: hidden;
}

//bug position:fixed scroll gutter in chrome
html.chrome.ios.mobile,
html.chrome.ios.mobile body {
	height:100%;
}

// disable :hover when scrolling on mobile
.disable-hover,
.disable-hover * {
	pointer-events: none !important;
}

// Disable hover effects pause
html.touch .disable-focus:hover {
	pointer-events: none !important;
}

a {
	color: initial;
	transition: all 0.3s ease;
	cursor: pointer;
}

.c-pink {
	color: $brand-color !important;
}

.c-gray {
	color: rgba(68, 68, 68, 0.44) !important;
}

.c-white {
	color: $white !important;
}

.bg-pink {
	background: $brand-color !important;
}

.bg-pinklight {
	background: $pinklight !important;
}

.bg-pinklight2 {
	background: #FFEBF2 !important;
}

.bg-greenlight {
	background: $greenlight !important;
}

.bg-blue {
	background: #337AB7 !important;
}

.bg-bluelight {
	background: #5CC0DE !important;
}
.bg-yellow {
	background: #F0AD4E !important;
}

.bg-red {
	background: #D9534F !important;
}

.bg-gray {
	background: #F7F7F7 !important;
}

.border-greenlight {
	border: 1px solid $greenlight !important;
}

.border-pink {
	border: 1px solid $brand-color !important;
}

.border-rd-10 {
	border-radius: 10px !important;
}

.font-bold {
	font-weight: $weight-bold !important;
}

.font-semibold {
	font-weight: $weight-semibold !important;
}

.font-medium {
	font-weight: $weight-medium !important;
}

.container, .container-lg, .container-md, .container-sm {
	@include min-screen(1200px) {
		max-width: 1140px;
	}
}

.form-group {
	label {
		@include font-size(16);
		font-family: $basefont;
	}
}

.form-control {
	border: 1px solid #E84E72 !important;
	box-sizing: border-box;
	border-radius: 22px;
	@include font-size(12);
	font-family: $basefont;
	height: 40px;
	&.extra {
		border: 1px solid #A4A4A4!important;
		border-radius: 5px;
		@include font-size(16);
		box-shadow: none!important;
		padding-right: 20px;
		&:hover {
			border: 1px solid #E84E72!important;
		}
	}
}

.wrapper {
	position: relative;
	min-height: 100vh;
	.wrapper-inner {
		background-color: #F7F7F7;
		min-height: 100vh;
		padding-top: 90px;
		padding-bottom: 20px;
		@include min-screen(1200px) {
			padding-top: 20px;
		}
		.content-row {
			@include min-screen(1200px) {
				margin-left: -30px;
				margin-right: -30px;
			}
		}
	}
}

.header {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 4;
	background: $white;
	box-shadow: 0px 3px 4px rgba(85, 86, 90, 0.07);
	// height: 70px;
	@include max-screen(1199px) {
		position: fixed;
		background: #FFEBF2;
		box-shadow: 0px 3px 4px rgba(85, 86, 90, 0.07);
	}
	.header-menu {
		transition: all 0.3s ease;
		position: relative;
		@include max-screen(1199px) {
			height: 70px;
			background: $white;
			border-bottom: 1px solid #E84E72;
		}
		&.active {
			.logo {
				@include min-screen(992px) {
					height: 62px;
					margin-top: 10px;
				}
			}
		}
		.logo {
			display: block;
			background-image: url("../images/logo-dwf.png");
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			width: 340px;
			max-width: 100%;
			height: 70px;
			@include max-screen(1199px) {
				position: absolute;
				left: 10px;
				top: 10px;
				width: 230px;
				height: 50px;
			}
		}
		.hamburger {
			display: block;
			background: url("../images/icon/hamburger.svg");
			background-size: 27px 20px;
			width: 27px;
			height: 20px;
			position: absolute;
			top: 25px;
			right: 10px;
			transition: all 0.3s ease;
			z-index: 1;
			@include min-screen(1200px) {
				display: none;
			}
			&.active {
				background: url("../images/icon/ic-close.png");
				background-size: 20px;
				width: 20px;
				height: 20px;
				transform: rotate(90deg);
			}
		}
		.header-row {
			justify-content: space-between;
			align-items: center;
			position: relative;
			.header-menu-col {
				position: relative;
				padding-top: 20px;
				&.left {
					@include min-screen(1200px) {
						padding-left: 0;
					}
					@include max-screen(1199px) {
						width: 100%;
						padding-top: 0!important;
					}
				}
				&.right {
					@include min-screen(1200px) {
						padding-right: 0;
					}
					@include max-screen(1199px) {
						width: 100%;
						padding-top: 0!important;
					}
					@include min-screen(1200px) {
						&.bg-city {
							padding-top: 5px;
							&:before {
								content: "";
								display: block;
								background-image: url("../images/bg-header.png");
								background-repeat: no-repeat;
								background-size: contain;
								width: 635px;
								max-width: 100%;
								height: 110px;
								position: absolute;
								right: 0;
								top: 0;
							}
						}
					}
				}
			}
		}
		.header-menu-list {
			list-style: none;
			padding-left: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			@include max-screen(1199px) {
				display: none;
			}
			li {
				color: $basecolor;
				@include font-size(16);
				font-weight: $weight-regular;
				position: relative;
				cursor: pointer;
				padding: 5px 8px;
				a {
					color: $basecolor;
					@include font-size(14);
					font-weight: $weight-regular;
					position: relative;
					padding: 0;
					@include min-screen(1200px) {
						border-bottom: 2px solid transparent !important;
						padding-top: 2px;
						padding-bottom: 2px;
					}
					@include max-screen(991px) {
						@include font-size(16);
					}
				}
				&.active, &:hover {
					a {
						@include min-screen(1200px) {
							border-bottom: 2px solid #E84E72 !important;
						}
					}
				}
				.dropdown-menu {
					top: 100%;
					left: 0;
					border-left: none !important;
					border-right: none !important;
					border-radius: none !important;
					background: #FFEBF2;
					@include min-screen(1200px) {
						box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
					}
					@include max-screen(1199px) {
						border-bottom: none;
						padding-left: 15px;
						width: 100%;
						a {
							padding: 5px 10px!important;
						}
					}
					li {
						border-bottom: 1px solid #dee2e6;
						&:last-child {
							border-bottom: none;
						}
					}
					a {
						display: block;
						width: 100%;
						clear: both;
						white-space: nowrap;
						@include font-size(12);
						line-height: 1.4;
						color: $basecolor;
						background: transparent !important;
						padding: 10px;
						border-bottom: none !important;
						&:last-child {
							border-bottom: none;
						}
						&.dropdown-toggle {
							display: block !important;
							@include max-screen(1199px) {
								border-bottom: 1px solid #dee2e6;
							}
						}
					}
					.dropdown-menu {
						left: 100%;
						@include max-screen(1199px) {
							left: 0;
						}
						.dropdown-toggle {
							&::after {
								float: right;
								margin-top: 8px;
							}
						}
					}
					@media (max-width: 992px) {
						.dropdown-menu{
							width: 50%;
						}
						.dropdown-menu .dropdown-submenu{
							width: auto;
						}
					}
				}
			}
		}
		.list-social, .txt-intro, .txt-running {
			@include max-screen(1199px) {
				display: none;
			}
		}
	}
	.menu-mb {
		padding: 10px 0;
		@include min-screen(1200px) {
			display: none;
		}
		@include max-screen(1199px) {
			padding-top: 10px!important;
			padding-bottom: 10px!important;
		}
		a {
			background-color: transparent !important;
			color: $brand-color!important;
		}
		&.border-top {
			@include max-screen(1199px) {
				margin-top: 15px !important;
				padding-bottom: 0 !important;
			}
		}
	}
	@include max-screen(1199px) {
		&.active {
			height: 100%;
			.header-menu-list {
				display: block !important;
				position: absolute;
				left: 0;
				top: 70px;
				// margin-top: 40px;
				overflow-y: auto;
				width: 100%;
				height: calc(100vh - 130px);
				li {
					border-bottom: solid 1px #eee;
					&:last-child {
						border-bottom: none !important;
					}
					a {
						padding: 15px;
						@include max-screen(1199px) {
							padding: 10px;
						}
					}
				}
			}
			.header-top {
				display: block !important;
				height: 0;
				box-shadow: 0px 3px 4px rgba(85, 86, 90, 0.04);
				.disabled {
					position: absolute;
					bottom: 20px;
					z-index: 100;
					.topic-text {
						display: none;
					}
				}
				.link {
					display: none !important;
				}
			}
			.dividing-line {
				border-top: 1px solid #D8D8D8;
				padding-bottom: 0 !important;
				margin-top: 15px !important;
				margin-left: 15px;
				margin-right: 15px;
			}
		}
	}
}

@include min-screen(1200px) {
	.navbar-container {
		background-color: $pinklight;
		box-shadow: 0px 3px 4px rgba(85, 86, 90, 0.04);
		position: relative;
	}
}

.navbar {
	&.navbar-expand-lg {
		@include max-screen(1199px) {
			width: 100%;
			padding: 0;
		}
	}
}

.navbar .nav-item .dropdown-menu {
	@include min-screen(1200px) {
		display: none;
	}
}
.navbar .nav-item:hover .nav-link {
}
.navbar .nav-item:hover .dropdown-menu {
	@include min-screen(1200px) {
		display: block;
	}
}
.navbar .nav-item .dropdown-menu{
	@include min-screen(1200px) {
		margin-top:0;
	}
}
.header .header-menu .header-menu-list li .dropdown-menu .dropdown-menu {
	@include min-screen(1200px) {
		display: none;
	}
	@include max-screen(1199px) {
		display: block;
		width: 100%;
		border-top: none;
		border-bottom: none !important;
		a {
			border-bottom: none !important;
		}
	}
}
.header .header-menu .header-menu-list li .dropdown-menu li:hover .dropdown-menu {
	@include min-screen(1200px) {
		display: block;
	}
}

.dropdown-submenu{
	position: relative;
}
.dropdown-submenu a::after{
	transform: rotate(-90deg);
	position: absolute;
	right: 3px;
	top: 40%;
	@include max-screen(1199px) {
		display: none;
	}
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
	display: flex;
	flex-direction: column;
	position: absolute !important;
	margin-top: -40px;
	left: 100%;
}

.dropdown-toggle::after {
	@include max-screen(1199px) {
		float: right;
		margin-top: 5px;
	}
}

.header-top {
	background: #F7F8F9;
	box-shadow: 0px 3px 4px rgba(85, 86, 90, 0.04);
	height: 40px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	@include font-size(14);
	line-height: normal;
	color: #424242;
	transition: all 0.3s ease;
	@include max-screen(1199px) {
		display: none;
	}
	@include min-screen(1200px) {
		&.active {
			height: 0;
			position: relative;
			top: -100px;
		}
	}
	.header-top-group {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-right: 1px solid #FFFFFF;
		padding-left: 5px;
		padding-right: 5px;
		&:first-child {
			border-left: none;
			border-right: none;
		}
		&:last-child {
			border-right: none;
		}
		ul {
			list-style: none;
			padding-left: 0;
			li {
				display: inline-block;
				padding-left: 5px;
				padding-right: 5px;
				a {
					color: #A2A2A2;
					&:hover {
						color: $basecolor;
					}
				}
			}
		}
		.img-btn {
			display: block;
			width: 178px;
			height: auto;
		}
	}
	.header-top-row {
		border-right: 1px solid $brand-color;
		padding-left: 5px;
		padding-right: 5px;
		&:last-child {
			border-right: none;
		}
	}
	.topic-text {
		padding-right: 5px;
	}
	.btn {
		display: block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		box-sizing: border-box;
		@include font-size(14);
		padding: 0;
		margin-left: 5px;
		margin-right: 5px;
		&.btn-display1 {
			border: 1px solid #D8D8D8;
			color: #55565A;
			line-height: 1.8;
		}
		&.btn-display2 {
			background: #000000;
			border: 1px solid #000000;
			color: #FFFFFF;
			line-height: 1.8;
		}
		&.btn-display3 {
			background: #000000;
			border: 1px solid #000000;
			color: #FFF739;
			line-height: 1.8;
		}
		&.btn-increase, &.btn-reduce {
			color: #424242;
			@include font-size(20);
			font-weight: 400;
			line-height: 1.4;
			&.disable {
				pointer-events: none;
				color: #D8D8D8;
			}
		}
	}
	.fontsize {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		color: #424242;
		border: 1px solid $brand-color;
		margin-left: 5px;
		margin-right: 5px;
		@include font-size(18);
		line-height: 1.8;
	}
	.lang-flag {
		background-repeat: no-repeat;
		background-size: 28px 19px;
		display: inline-block;
		width: 28px;
		height: 19px;
		margin-left: 8px;
		margin-right: 8px;
		filter: grayscale(100%);
		&.th {
			background-image: url("../images/flag-th.png");
		}
		&.en {
			background-image: url("../images/flag-en.png");
		}
		&:hover, &.active {
			filter: grayscale(0%);
		}
	}
}

.footer {
	background: #F7F8F9;
	.footer-top {
		background: #FFEBF2;
		padding-top: 20px;
		padding-bottom: 20px;
		h1 {
			color: $brand-color;
			@include font-size(20);
		}
		ul {
			padding-top: 15px;
			@include font-size(14);
			li {
				line-height: 1.8;
				padding-top: 5px;
				padding-bottom: 5px;
				a {
					color: $basecolor;
					&:hover {
						color: $brand-color;
					}
				}
			}
		}
		.list-topic {
			@include max-screen(767px) {
				cursor: pointer;
				padding-bottom: 15px;
				@include font-size(16);
				&:after {
					content: "";
					display: inline-block;
					vertical-align: middle;
					float: right;
					background-image: url(../images/icon/arrow-prev.svg);
					background-repeat: no-repeat;
					background-position: 50%;
					background-size: contain;
					width: 20px;
					height: 15px;
					transform: rotate(270deg);
					transition: all 0.3s linear;
				}
			}
		}
		.list-topic[aria-expanded="true"]  {
			@include max-screen(767px) {
				&:after {
					content: "";
					display: inline-block;
					vertical-align: middle;
					float: right;
					background: url(../images/icon/arrow-prev.svg);
					background-repeat: no-repeat;
					background-position: 50%;
					background-size: contain;
					width: 20px;
					height: 15px;
					transform: rotate(-270deg);
				}
			}
		}


		.list-group {
			@include min-screen(768px) {
				display: block !important;
			}
			@include max-screen(767px) {
				padding-top: 0;
				padding-bottom: 10px;
				li {
					padding-top: 10px;
					padding-bottom: 10px;
					a {
						@include font-size(14);
					}
				}
			}
		}
	}
	.footer-btm {
		background: #FFCEE1;
		color: $brand-color;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		@include font-size(14);
		line-height: 150.8%;
	}
	.copyright {
		text-align: center;
		font-family: $basefont;
		background: $white;
		color: $basecolor;
		@include font-size(12);
		padding: 10px 0;
	}
	.logo {
		display: block;
		background-image: url("../images/logo-dwf.png");
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
		width: 340px;
		max-width: 100%;
		height: 70px;
		margin-bottom: 20px;
		@include max-screen(991px) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	a[href^=tel] {
		color: $brand-color;
	}
	.list-social {
		li {
			.social-ic {
				&.facebook {
					background-image: url("../images/icon/facebook02.svg");
				}
				&.youtube {
					background-image: url("../images/icon/youtube02.svg");
				}
				&.instagram {
					background-image: url("../images/icon/instagram02.svg");
				}
				&.mail {
					background-image: url("../images/icon/mail02.svg");
				}
				&.twitter {
					background-image: url("../images/icon/twitter02.svg");
				}
				&.line {
					background-image: url("../images/icon/line02.svg");
				}
			}
		}
	}
}


.ic-style {
	display: inline-block !important;
	vertical-align: middle !important;
}

.ic-search {
	display: block;
	vertical-align: middle;
	background: url("../images/icon/ic-search.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 15px;
	height: 19px;
}

.ic-vdo {
	display: block;
	vertical-align: middle;
	background: url("../images/icon/ic-video.png");
	background-repeat: no-repeat;
	background-size: 32px 21px;
	width: 32px;
	height: 21px;
}

.ic-megaphone {
	display: block;
	vertical-align: middle;
	background: url("../images/icon/ic-megaphone.png");
	background-repeat: no-repeat;
	background-size: 32px;
	width: 32px;
	height: 32px;
}

.ic-man {
	display: block;
	vertical-align: middle;
	background: url("../images/icon/ic-man.png");
	background-repeat: no-repeat;
	background-size: 25px;
	width: 25px;
	height: 25px;
}

.ic-service {
	display: block;
	vertical-align: middle;
	background: url("../images/icon/ic-service.png");
	background-repeat: no-repeat;
	background-size: 32px;
	width: 32px;
	height: 32px;
}

.ic-comment {
	display: block;
	vertical-align: middle;
	background-image: url("../images/icon/ic-comment.png");
	background-repeat: no-repeat;
	background-size: 16px;
	width: 16px;
	height: 16px;
}

.ic-poll {
	display: block;
	vertical-align: middle;
	background-image: url("../images/icon/ic-poll.png");
	background-repeat: no-repeat;
	background-size: 16px;
	width: 16px;
	height: 16px;
}

.photo-thumb {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	padding-bottom: 70%;
	background: #D9D9D9;
	.photo-parent {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.photo {
		height: 100%;
		width: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		display: block;
		transition: all 0.3s linear;
	}
}

.btn {
	transition: all 0.3s ease;
}

.btn-style {
	border: 1px solid #E84E72;
	box-sizing: border-box;
	border-radius: 15px;
	font-weight: $weight-bold;
	@include font-size(12);
	text-align: center;
	color: $brand-color;
	padding: 5px 15px;
	&:hover {
		background: $brand-color;
		color: $white;
	}
}

.btn-vote {
	background: $greenlight;
	@include font-size(14);
	color: $white !important;
	padding: 5px 15px;
	&:hover {
		background-color: #218838;
		border-color: #1e7e34;
	}
}

.btn-view {
	@include font-size(14);
	font-weight: $weight-medium;
	font-family: $brandfont;
	color: $brand-color!important;
	box-shadow: none!important;
	&:hover {
		text-decoration: underline;
	}
	&.extra {
		background: #F7F8F9;
		min-width: 235px;
		&:hover {
			background: $brand-color;
			color: $white!important;
			text-decoration: none;
		}
		&.transparent {
			background: transparent;
			&:hover {
				background: $brand-color;
			}
		}
	}
}

.btn-pink {
	background: $brand-color!important;
	border: 1px solid $brand-color!important;
	border-radius: 50px;
	font-family: $brandfont;
	@include font-size(18);
	font-weight: $weight-bold;
	color: $white!important;
	padding-top: 5px;
	padding-bottom: 5px;
	outline: none!important;
	box-shadow: none!important;
	&:hover {
		background: #BF294C!important;
	}
}

.btn-light {
	background: $white!important;
	border: 1px solid $brand-color!important;
	border-radius: 50px;
	font-family: $brandfont;
	@include font-size(18);
	font-weight: $weight-bold;
	color: $basecolor!important;
	padding-top: 5px;
	padding-bottom: 5px;
	outline: none!important;
	box-shadow: none!important;
	&:hover {
		opacity: 0.8;
	}
}

.txt-wrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.txt-wrap2 {
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.txt-wrap3 {
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.txt-running {
	line-height: 2;
}

.nav-link {
	@include font-size(14);
	font-family: $basefont;
	padding: 20px;
	border: none !important;
	color: $brand-color !important;
	// border-bottom: 4px solid transparent !important;
	text-transform: uppercase;
	&.active, &:hover {
		color: $brand-color !important;
		// border-bottom: 4px solid $brand-color !important;
	}
}
.tab-pane {
	padding-top: 15px;
	padding-bottom: 15px;
}
.list-group{
	list-style: none;
	padding: 0;
	li {
		padding-left: 1.3em;
		&:before {
			content: "-";
			display: inline-block;
			margin-left: -1.3em; /* same as padding-left set on li */
			width: 1.3em; /* same as padding-left set on li */
		}
	}
}

.date {
	display: flex;
	align-items: center;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		background-image: url("../images/icon/ic-clock.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 13px;
		height: 13px;
		margin-right: 5px;
	}
	&.c-pink {
		&:before {
			background-image: url("../images/icon/ic-clock-pink.svg");
		}
	}
}

.view {
	display: flex;
	align-items: center;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		background-image: url("../images/icon/ic-eye.svg");
		background-repeat: no-repeat;
		background-size: 13px 18px;
		width: 13px;
		height: 18px;
		margin-right: 5px;
		margin-top: 1px;
	}
}

/* The radio-check */
.radio-check {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 12px;
	cursor: pointer;
	font-family: $basefont;
	@include font-size(16);
	color: $basecolor;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.radio-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.radio-check .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	border: 1px solid $basecolor;
}

/* When the radio button is checked, add a blue background */
.radio-check input:checked ~ .checkmark {
	background-color: $greenlight;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-check .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-check input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio-check .checkmark:after {
	top: 4px;
	left: 4px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: $white;
}

.progress {
	font-family: $basefont;
	@include font-size(12);
	height: 2.5rem;
	margin-top: 20px;
	margin-bottom: 20px;
}


.slick-loading .slick-list {
	background: #fff url('../images/ajax-loader.gif') center center no-repeat;
}

.slick-prev {
	left: 0;
	z-index: 1;
	&:before {
		content: "";
		display: block;
		background: url("../images/icon/arrow-prev.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 31px;
		height: 20px;
		opacity: 1;
	}
}

.slick-next {
	right: -5px;
	z-index: 1;
	&:before {
		content: "";
		display: block;
		background: url("../images/icon/arrow-next.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 31px;
		height: 20px;
		opacity: 1;
	}
}

.slick-dots li button:before {
	content: '\2022';
}

.slick-dots li.slick-active {
	width: 35px;
	height: 10px;
	margin-left: 5px;
	margin-right: 5px;
}

.slick-dots li button {
	padding: 5px;
}

.slick-dots li.slick-active button {
	width: 35px;
	height: 10px;
}

.slick-dots li button:before {
	color: rgba(203, 203, 203, 0.67)!important;
	opacity: 1;
}

.slick-dots li.slick-active button:before {
	color: $brand-color;
	opacity: 1;
	content: "";
	background: linear-gradient(0deg, #E84E72, #E84E72), #C4C4C4;
	border-radius: 5px;
	width: 35px;
	height: 10px;
}

.slick-dots li button::before:hover, .slick-dots li button::before:focus {
	color: $brand-color;
}

.tooltip-inner {
	@include font-size(16);
}

.dark-theme {
	.header {
		background: $black;
		.header-menu  {
			background: $black;
			.header-menu-list {
				li {
					a {
						color: $white !important;
					}
					&.active, &:hover {
						a {
							color: $white !important;
						}
					}
					.dropdown-menu {
						background: #BF294C;
						a {
							color: $white !important;
							&:hover {
								color: $white !important;
							}
						}
					}
				}
			}
		}
	}
	.header-top {
		background-image: initial;
		background-color: #1c1e1f;
		color: $black;
		.topic-text {
			color: $white;
		}
		.btn {
			background: $black !important;
			&.btn-display1, &.btn-increase, &.btn-reduce {
				color: rgb(189, 183, 175);
			}
		}
		.fontsize {
			background: $black !important;
			color: rgb(189, 183, 175);
		}
		.header-top-row {
			border-right-color: rgb(48, 52, 54);
		}
		.header-top-group {
			border-right-color: rgb(48, 52, 54);
		}
	}
	.navbar-container {
		@include min-screen(1200px) {
			background-color: #BF294C;
		}
	}
	.dropdown-menu {
		background: $black;
	}
	.form-search {
		.form-control {
			background: $black;
			color: $white;
			border: 1px solid $white!important;
		}
	}
	.wrapper-inner {
		background-color: $black!important;
	}
	.bg-city {
		&:before {
			display: none!important;
		}
	}
	.btn-view {
		&.extra {
			background: #1c1e1f;
		}
	}
	.footer {
		.footer-top {
			background: $brand-color;
			ul {
				li {
					a {
						color: $white;
					}
				}
			}
			h1 {
				color: $white;
			}
			.list-group {
				li {
					a {
						&:hover {
							color: #1C1E19;
						}
					}
				}
			}
		}
		.footer-btm {
			background: #BF294C;
			color: $white;
		}
	}
	.photo-thumb {
		background: #303030;
	}
	.box-content {
		background: $black;
	}
	.date {
		&:before {
			background-image: url(../images/icon/ic-clock.svg);
		}
	}
	.view {
		&:before {
			background-image: url(../images/icon/ic-eye.svg);
		}
	}
	.list-group li:before {
		color: $white;
	}
	.nav-tabs {
		.nav-link {
			&:hover {
				opacity: 0.5;
			}
			&.active {
				background-color: $black;
			}
		}
	}
	.btn-increase, .btn-reduce {
		&.disable {
			opacity: 0.5;
		}
	}
	.nav-link {
		color: $white!important;
	}
	.box-item {
		.box-item-dt {
			h2 {
				color: $white;
			}
			p {
				color: #A2A2A2;
			}
		}
		&:hover {
			.box-item-dt {
				h2 {
					color: $brand-color!important;
				}
			}
		}
	}
	.breadcrumb-custom {
		background-color: $black!important;
		.breadcrumb-item {
			color: #A2A2A2!important;
			&:before {
				color: #A2A2A2!important;
			}
			a {
				color: #A2A2A2!important;
				&:hover {
					color: $brand-color!important;
				}
			}
		}
	}
	.pagination {
		.page-item {
			.page-link {
				background-color: #A2A2A2!important;
				&:hover {
					background-color: #e9ecef!important;
				}
			}
			&.active {
				.page-link {
					background-color: $brand-color!important;
				}
			}
		}
	}
	.card-custom {
		background-color: #303030!important;
		.card-header {
			background-color: #303030!important;
			border-bottom: 1px solid #A2A2A2!important;
		}
		.card-footer {
			background-color: #303030!important;
			border-top: 1px solid #A2A2A2!important;
		}
		.breadcrumb-custom {
			background-color: #303030!important;
			.breadcrumb-item {
				color: #A2A2A2!important;
				&:before {
					color: #A2A2A2!important;
				}
				a {
					color: #A2A2A2!important;
					&:hover {
						color: $brand-color!important;
					}
				}
			}
		}
		.date {
			color: #A2A2A2!important;
		}
		.view {
			color: #A2A2A2!important;
		}
		.content-editor, .content-editor > * {
			p {
				color: $white!important;
			}
			ol, ul {
				color: $white!important;
			}
			a {
				color: $white!important;
				&:hover {
					color: $brand-color!important;
				}
			}
		}
		.content-list  {
			li {
				a  {
					h3 {
						color: $white!important;
					}
					&:hover {
						h3 {
							color: $brand-color!important;
						}
					}
				}
			}
		}
		.text-by {
			color: $white!important;
		}
		.share-topic {
			color: $white!important;
		}
	}
	.tag {
		background-color: #808080!important;
		color: $white!important;
		&:hover {
			background-color: $brand-color!important;
		}
	}
	.form-group {
		label {
			color: $white;
		}
		.form-control {
			&.extra {
				background-color: #303030;
				color: $white;
			}
		}
	}
	.btn-light {
		background-color: #303030!important;
		color: $white!important;
	}
}


.dark-theme {
	&.with-txt-yellow {
		.header-top  {
			.header-top-group {
				ul {
					li {
						a {
							color: $yellow;
							&:hover {
								opacity: 0.5;
							}
						}
					}
				}
			}
		}
		.header-menu  {
			.header-menu-list {
				li {
					a {
						color: $yellow !important;
					}
					&:hover {
						a {
							// background: $black !important;
							color: $yellow !important;
							&:hover {
								opacity: 0.6;
							}
						}
					}
				}
			}
		}
		.footer {
			.footer-top {
				h1 {
					color: $yellow;
				}
				.list-group {
					li {
						a {
							color: $yellow;
							&:hover {
								color: #1C1E19;
							}
						}
					}
				}
			}
			.footer-btm, .copyright {
				color: $yellow;
			}
		}
		.list-group li:before {
			color: $yellow;
		}
		.nav-tabs {
			.nav-item {
				.nav-link {
					&:not(.active) {
						.nav-content {
							h1 {
								color: $yellow;
							}
						}
					}
				}
			}
		}
		.list-dashed {
			li {
				a {
					color: $yellow;
				}
			}
		}
		.stat-list {
			div {
				color: $yellow;
			}
		}
		.card-custom {
			.content-editor, .content-editor > * {
				p {
					color: $yellow!important;
				}
				ol, ul {
					color: $yellow!important;
				}
				a {
					color: $yellow!important;
					&:hover {
						color: $brand-color!important;
					}
				}
			}
			.content-list  {
				li {
					a  {
						h3 {
							color: $yellow!important;
						}
						&:hover {
							h3 {
								color: $brand-color!important;
							}
						}
					}
				}
			}
			.text-by {
				color: $yellow!important;
			}
			.share-topic {
				color: $yellow!important;
			}
		}
		.tag {
			color: $yellow!important;
			&:hover {
				background-color: $brand-color!important;
			}
		}
		.form-group {
			label {
				color: $yellow;
			}
			.form-control {
				&.extra {
					color: $yellow;
				}
			}
		}
		.btn-light, .btn-pink {
			color: $yellow!important;
		}
	}
}

.slick-dots {
	bottom: 5px;
	@include min-screen(768px) {
		bottom: 15px;
	}
	li {
		margin: 0;
		button {
			&:before {
				@include font-size(30);
				@include min-screen(768px) {
					@include font-size(40);
				}
			}
		}
	}
}

.slick-dotted {
	&.slick-slider {
		margin-bottom: 0;
	}
}

.form-search {
	position: relative;
	.form-control {
		padding-left: 40px;
		padding-right: 35px;
		outline: none !important;
		border: none !important;
		box-shadow: none !important;
		font-size: 14px!important;
		font-size: 1.4rem!important;
		height: 30px;
	}
	.ic-search {
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 2px;
	}
	&.mb {
		margin: 20px 15px 15px;
		@include min-screen(1200px) {
			display: none;
		}
		.form-control {
			height: 40px;
		}
	}
	&:not(.mb) {
		@include max-screen(1199px) {
			display: none;
		}
	}
}

.title-group {
	border-bottom: 1px solid $brand-color;
	padding-bottom: 15px;
}

.title-line {
	border-bottom: 1px solid $brand-color;
	padding-bottom: 10px;
	&.sm {
		@include font-size(16);
	}
}

.stat-ic {
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		background-image: url("../images/icon/ic-view.png");
		background-repeat: no-repeat;
		background-size: 19px;
		width: 19px;
		height: 19px;
		margin-right: 5px;
		margin-bottom: 3px;
	}
}

.list-social {
	list-style-type: none;
	padding-left: 0;
	position: relative;
	li {
		display: inline-block;
		vertical-align: middle;
		padding-left: 2px;
		padding-right: 2px;
		.social-ic {
			display: block;
			background-repeat: no-repeat;
			background-size: 30px;
			width: 30px;
			height: 30px;
			&.facebook {
				background-image: url("../images/icon/facebook.svg");
			}
			&.youtube {
				background-image: url("../images/icon/youtube.svg");
			}
			&.instagram {
				background-image: url("../images/icon/instagram.svg");
			}
			&.mail {
				background-image: url("../images/icon/mail.svg");
			}
			&.twitter {
				background-image: url("../images/icon/twitter.svg");
			}
			&.line {
				background-image: url("../images/icon/line.svg");
			}
		}
	}
}

.border-left {
	&.pink {
		border-color: rgba(232, 78, 114, 0.3)!important;
	}
}

.card-custom {
	background-color: #FFFFFF;
	box-shadow: 0px 1px 24px rgba(0, 0, 0, 0.05);
	border: none;
	border-radius: 10px;
	padding: 20px 15px;
	.card-header {
		background-color: #FFFFFF;
		padding-top: 10px;
		padding-bottom: 20px;
	}
	.card-body {
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.card-footer {
		background-color: #FFFFFF;
	}
	h1 {
		@include font-size(26);
		line-height: 1.4;
		@include min-screen(992px) {
			@include font-size(30);
		}
	}
	h2 {
		@include font-size(18);
		@include min-screen(992px) {
			@include font-size(20);
		}
	}
}

.breadcrumb-custom {
	background-color: #FFFFFF;
	padding: 0;
	.breadcrumb-item {
		color: rgba(68, 68, 68, 0.29);
		@include font-size(14);
		a {
			color: rgba(68, 68, 68, 0.29);
			@include font-size(14);
			&:hover {
				color: $brand-color;
			}
		}
	}
	.breadcrumb-item+.breadcrumb-item::before {
		color: rgba(68, 68, 68, 0.29);
		@include font-size(14);
		content: ">";
	}
}

.content-editor, .content-editor > * {
	font-family: $basefont;
	line-height: 1.6;
	overflow: auto;
	img {
		display: block!important;
		max-width: 100%!important;
		height: auto!important;
	}
	a {
		&:hover {
			color: $brand-color!important;
		}
	}
}

.content-editor {
	p[style*="text-align: center; font-size: 14px;"] {
		img {
			margin-left: auto;
			margin-right: auto;
		}
	}
	p[style*="text-align: left; font-size: 14px;"] {
		img {
			margin-right: auto;
		}
	}
	p[style*="text-align: right; font-size: 14px;"] {
		img {
			margin-left: auto;
		}
	}
	img[style*="float: left;"],
	img[style*="float: right;"],
	img[style*="float: none;"] {
		content: "";
		clear: both;
	}
}

.text-by {
	font-style: italic;
	@include font-size(12);
	color: $basecolor;
}

.pagination {
	justify-content: center;
	.page-item {
		display: flex;
		align-items: center;
		margin-left: 2px;
		margin-right: 2px;
		@include min-screen(576px) {
			margin-left: 5px;
			margin-right: 5px;
		}
		.page-link {
			border: none;
			color: #333333;
			@include font-size(14);
			border: none !important;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			@include min-screen(768px) {
				@include font-size(18);
				width: 48px;
				height: 48px;
			}
			@include max-screen(374px) {
				width: 28px;
				height: 28px;
			}
		}
		&.active {
			.page-link {
				background-color: $brand-color;
				color: $white;
			}
		}
		.first {
			display: block;
			background: url("../images/icon/page-first.svg");
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			width: 14px;
			height: 13px;
			margin-left: 5px;
			margin-right: 5px;
			@include max-screen(374px) {
				margin-left: 2px;
				margin-right: 2px;
			}
		}
		.previous {
			display: block;
			background: url("../images/icon/page-previous.svg");
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			width: 7px;
			height: 13px;
			margin-left: 5px;
			margin-right: 5px;
			@include max-screen(374px) {
				margin-left: 2px;
				margin-right: 2px;
			}
		}
		.next {
			display: block;
			background: url("../images/icon/page-next.svg");
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			width: 7px;
			height: 13px;
			margin-left: 5px;
			margin-right: 5px;
			@include max-screen(374px) {
				margin-left: 2px;
				margin-right: 2px;
			}
		}
		.last {
			display: block;
			background: url("../images/icon/page-last.svg");
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			width: 14px;
			height: 13px;
			margin-left: 5px;
			margin-right: 5px;
			@include max-screen(374px) {
				margin-left: 2px;
				margin-right: 2px;
			}
		}
	}
}

.modal-custom {
	font-family: $brandfont;
	@include font-size(16);
	line-height: 1.8;
	.modal-content{
		border-radius: 20px;
		.modal-body {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.modal-body-scroll {
		height:  275px;
		overflow-y: auto;
		&:hover {
			/* width */
			&::-webkit-scrollbar {
				width: 5px;
			}
			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: #EDEDED;
			}
		}
	}
	.close {
		@include font-size(50);
		color: $brand-color;
		opacity: 1;
		position: absolute;
		right: 15px;
		top: 0;
		z-index: 100;
		outline: none!important;
	}
	&.extra {
		.modal-body {
			padding: 20px 20px 50px;
		}
	}
}

.owl-dots {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	.owl-dot {
		outline: none!important;
		border: none!important;
		span {
			margin: 5px!important;
		}
		&.active {
			span {
				background: $brand-color!important;
			}
		}
	}
}

.calendar-custom {
	.fc {
		.fc-toolbar {
			&.fc-header-toolbar {
				margin-bottom: 10px;
				@include max-screen(575px) {
					margin-bottom: 0;
				}
			}
		}
		.fc-toolbar-title {
			@include font-size(18);
			color: $brand-color;
			padding-left: 20px;
			@include min-screen(768px) {
				@include font-size(26);
			}
		}
		.fc-button-primary {
			background-color: transparent !important;
			border: none !important;
			outline: none !important;
			box-shadow: none !important;
			color: #D1D1D1;
			@include font-size(16);
		}
		.fc-button-primary:not(:disabled) {}
		.fc-button-primary:not(:disabled).fc-button-active {
			background-color: transparent !important;
			border: none !important;
			outline: none !important;
			box-shadow: none !important;
			color: $brand-color;
			@include font-size(16);
		}
		.fc-button  {
			padding-left: 5px;
			padding-right: 5px;
			.fc-icon {
				background: $white;
				color: $basecolor;
				font-weight: $weight-medium;
				border-radius: 2px;
				border: 1px solid #666666;
				width: 25px;
				height: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.fc-view-harness {
			background: $white;
			overflow: hidden;
		}
		.fc-col-header-cell  {
			background: #FFCEE1;
			padding: 5px;
			@include min-screen(576px) {
				padding: 10px;
			}
			.fc-col-header-cell-cushion  {
				color: $brand-color;
				font-weight: $weight-semibold;
				@include font-size(14);
			}
		}
		.fc-daygrid-day-frame{
			@include font-size(16);
			@include min-screen(768px) {
				padding: 10px;
			}
			@include max-screen(575px) {
				@include font-size(12);
			}
		}
		.fc-daygrid-day {
			&.fc-day-today {
				background-color: rgba(68, 68, 68, 0.1);
			}
		}
		.fc-h-event {
			border: 1px solid transparent;
			background-color: rgba(191, 24, 100, 0.22);
			padding: 5px 10px;
			border-radius: 40px;
			text-align: center;
			font-family: $brandfont;
			@include font-size(14);
			margin-top: 5px;
			margin-bottom: 5px;
			.fc-event-main {
				color: $black;
			}
		}
		.fc-popover-header {
			padding: 10px 4px 5px;
		}
		.fc-popover-close {
			margin-top: -5px;
		}
		.fc-more-popover  {
			.fc-popover-body {
				@include font-size(14);
			}
		}
		.fc-toolbar-chunk {
			display: flex;
			align-items: center;
			div {
				display: flex;
				align-items: center;
			}
		}
		.fc-daygrid-day-number {
			color: #232A3E!important;
		}
		@include max-screen(575px) {
			.fc-toolbar {
				&.fc-header-toolbar {
					display: inline-block;
					text-align: center;
				}
			}
			.fc-toolbar-chunk {
				padding-top: 5px;
				padding-bottom: 5px;
			}
			.fc-daygrid-more-link {
				@include font-size(9);
				margin-top: 5px;
				bottom: 5px;
				background-color: rgba(191, 24, 100, 0.22);
				border-radius: 40px;
				padding-left: 2px;
				padding-right: 2px;
			}
		}
		.fc-daygrid-event-dot {
			border-color: $brand-color;
		}
	}
}

select {
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	appearance:none;
	background: url("../images/icon/sort-down.svg") no-repeat 99%;
}

.landing-section {
	height: 100vh;
	.slider {
		height: 100%;
		.slick-list {
			height: 100%;
			.slick-track {
				height: 100%;
				.slick-slide {
					height: 100%;
					div {
						height: 100%;
						.slider-item {
							height: 100%;
							img {
								height: 100%;
								object-fit: contain;
							}
						}
					}
				}
			}
		}
	}
	.landing-top {
		height: 50%;
		@include min-screen(576px) {
			height: 85%;
		}
	}
	.landing-btn {
		width: 100%;
		height: 50%;
		text-align: center;
		@include min-screen(576px) {
			height: 15%;
			padding-top: 18px;
		}
		.btn-style {
			@include font-size(14);
			font-weight: $weight-semibold;
			margin: 5px;
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}

}

