// @include max-screen(1199px)
// @include max-screen(991px)
// @include max-screen(767px)
//
// @include min-screen(768px)
// @include min-screen(992px)
// @include min-screen(1200px)
// @include screen(767px, 1199px)


.hero-banner {
	padding-top: 70px;
	@include min-screen(1200px) {
		// padding-top: 90px;
		padding-top: 0;
	}
	.photo-thumb {
		padding-bottom: 25%;
		background: $white;
	}
	.slider {
		.slick-dots {
			@include max-screen(767px) {
				display: none!important;
			}
		}
	}
}

.tab-menu {
	background: #FFCEE1;
	box-shadow: inset 0px -4px 4px rgba(85, 86, 90, 0.1);
	position: relative;
	z-index: 1;
	.nav-tabs {
		background: $white;
		box-shadow: 0px -2px 14px rgba(0, 0, 0, 0.05), 0px 3px 4px rgba(85, 86, 90, 0.04);
		border-bottom: none;
		display: block;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		-ms-overflow-style: none;
		text-align: center;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		@include max-screen(767px) {

		}
		@include max-screen(575px) {
			overflow-x: scroll;
		}
		.nav-item {
			display: inline-block;
			vertical-align: middle;
			padding-left: 1.5%;
			padding-right: 1.5%;
			margin-top: 10px;
			margin-bottom: 10px;
			position: relative;
			&:before {
				content: "";
				display: inline-block;
				width: 2px;
				height: 40px;
				background-color: #E84E72;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				opacity: 0.5;
				margin-right: -3px;
			}
			&:last-child {
				&:before {
					display: none;
				}
			}
			.nav-link {
				display: flex;
				align-items: center;
				color: rgba(255, 255, 255, 0.7) !important;
				padding: 10px 20px 12px;
				position: relative;
				border-radius: 50px;
				&.nav-icon {
					&:before {
						content: "";
						display: block;
						background-repeat: no-repeat;
						margin-right: 10px;
						transition: all 0.3s ease;
					}
					&.service-ic {
						&:before {
							background-image: url("../images/icon/ic-service.svg");
							width: 25px;
							height: 24px;
							background-size: 25px 24px;
							@include max-screen(575px) {
								width: 20px;
								height: 19px;
								background-size: 20px 19px;
							}
						}
					}
					&.form-ic {
						&:before {
							background-image: url("../images/icon/ic-form.svg");
							width: 27px;
							height: 32px;
							background-size: 27px 32px;
							@include max-screen(575px) {
								width: 22px;
								height: 27px;
								background-size: 22px 27px;
							}
						}
					}
					&.form-complain-ic {
						&:before {
							background-image: url("../images/icon/ic-form-complain.svg");
							width: 32px;
							height: 32px;
							background-size: 32px;
							@include max-screen(575px) {
								width: 25px;
								height: 25px;
								background-size: 25px;
							}
						}
					}
					&.form-comment-ic {
						&:before {
							background-image: url("../images/icon/ic-form-comment.svg");
							width: 32px;
							height: 32px;
							background-size: contain;
							@include max-screen(575px) {
								width: 25px;
								height: 25px;
								background-size: 25px;
							}
						}
					}
				}
				.nav-content {
					text-align: left;
					h1 {
						@include font-size(16);
						font-weight: $weight-bold;
						color: $brand-color;
						@include min-screen(576px) {
							@include font-size(18);
						}
					}
				}
				&.active {
					background: $brand-color;
					h1 {
						color: $white;
						opacity: 1;
					}
					&.service-ic {
						&:before {
							background-image: url("../images/icon/ic-service-white.svg");
							opacity: 1;
						}
					}
					&.form-ic {
						&:before {
							background-image: url("../images/icon/ic-form-white.svg");
							opacity: 1;
						}
					}
					&.form-complain-ic {
						&:before {
							background-image: url("../images/icon/ic-form-complain-white.svg");
							opacity: 1;
						}
					}
					&.form-comment-ic {
						&:before {
							background-image: url("../images/icon/ic-form-comment-white.svg");
							opacity: 1;
						}
					}
					.nav-content {
						opacity: 1;
					}
					&:after {
						content: "";
						display: block;
						background-image: url("../images/icon/triangle-down-pink.svg");
						background-repeat: no-repeat;
						background-size: 18px 14px;
						width: 18px;
						height: 14px;
						position: absolute;
						bottom: -15px;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}
	.tab-content {
		@include min-screen(1200px) {
			min-height: 352px;
		}
	}
	.box-menu-group {
		margin-left: -10px;
		margin-right: -10px;
		@include max-screen(767px) {
			margin-left: 10px;
			margin-right: 10px;
		}
		.box-menu {
			padding: 10px 15px;
			border-radius: 5px;
			img {
				border-radius: 5px;
				transition: all 0.3s ease;
			}
			&:hover {
				img {
					transform: translate(0px, -5px);
					box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
				}
			}
		}
	}
	.slick-slide {
		margin-left: 25px;
		margin-right: 25px;
	}
}

.menu-content {
	background: $white;
	border-top: 1px solid $brand-color;
	border-bottom: 1px solid $brand-color;
	box-shadow: 0px -5px 7px rgba(85, 86, 90, 0.08);
	position: relative;
	.container {
		@include min-screen(768px) {
			max-width: 95%;
		}
	}
	.slider-menu {
		position: relative;
		&:before {
			content: "";
			background: $white;
			width: 5px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 30px;
			z-index: 1;
		}
		&:after {
			content: "";
			background: $white;
			width: 5px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 30px;
			z-index: 1;
		}
	}
	.menu-item {
		transition: all 0.3s ease;
		position: relative;
		&:before {
			content: "";
			display: inline-block;
			width: 1px;
			height: 50px;
			background-color: rgba(232, 78, 114, 0.3);
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			margin-right: -3px;
		}
		a {
			display: flex;
			align-items: center;
			color: $brand-color;
			padding: 5px 10px;
			cursor: pointer;
			&:hover {
				background: #BF294C;
				color: $white;
				box-shadow: 0px 3px 4px rgba(85, 86, 90, 0.04);
			}
			@include min-screen(768px) {
				padding: 15px 10px;
			}
			h1 {
				font-family: $brandfont;
				font-weight: $weight-bold;
				@include font-size(18);
				text-align: left;
			}
			p {
				font-family: $brandfont;
				@include font-size(10);
				text-align: left;
			}
			img {
				width: 45px;
				height: 45px;
				border-radius: 50%;
				margin-right: 10px;
				@include max-screen(1366px) {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
	.slick-list {
		margin: 0 30px;
	}
}

.box-content {
	padding-top: 20px;
	padding-bottom: 20px;
	@include min-screen(768px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&.gray {
		background: #F7F8F9;
	}
	@include max-screen(767px) {
		.ic-megaphone {
			background-size: 26px;
			width: 26px;
			height: 26px;
		}
		.ic-vdo {
			background-size: 26px 15px;
			width: 26px;
			height: 15px;
		}
		.ic-man {
			background-size: 20px;
			width: 20px;
			height: 20px;
		}
		.ic-service {
			background-size: 26px;
			width: 26px;
			height: 26px;
		}
	}
}

.box-item {
	display: block;
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 5px;
	.box-item-dt {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		h2 {
			@include font-size(16);
			line-height: 26px;
			line-height: 2.6rem;
			color: #444444;
			transition: all 0.3s ease;
		}
		p {
			@include font-size(13);
			color: rgba(68, 68, 68, 0.29);
		}
	}
	.photo-thumb {
		border-radius: 10px;
	}
	&:hover {
		.box-white-dt {
			h2 {
				color: $brand-color;
			}
		}
	}
	&.vdo {
		align-items: center;
		border-bottom: 1px dashed rgba(255, 255, 255, 0.29);
		padding-bottom: 10px;
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
			margin-top: -10px;
		}
		.photo-thumb {
			padding-bottom: 26.1%;
		}
	}
	&:hover {
		.photo-thumb {
			.photo {
				transform: scale(1.2);
			}
			&.vdo  {
				.photo {
					transform: scale(1);
				}
			}
			video {
				&.photo {
					transform: none;
				}
			}
		}
		h2 {
			color: $brand-color;
		}
		&.white {
			h2 {
				color: $brand-color;
			}
		}
		&.sm {
			&.vdo  {
				.photo {
					transform: scale(1);
				}
			}
		}
	}
	&.list {
		display: flex;
		align-items: center;
		.photo-thumb {
			flex: 0 0 39.4%;
			max-width: 39.4%;
			padding-bottom: 21.7%;
		}
		.box-item-dt {
			flex: 0 0 60.6%;
			max-width: 60.6%;
			padding-left: 8px;
			h3 {
				@include  font-size(14);
			}
		}
		&:hover {
			color: $brand-color!important;
		}
	}
}

.box-tab {
	padding-top: 20px;
	padding-bottom: 20px;
	@include min-screen(768px) {
		padding-top: 45px;
		padding-bottom: 35px;
	}
	.nav-tabs {
		display: block;
		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
		@include max-screen(767px) {
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
		}
		.nav-item {
			display: inline-block;
			.nav-link {
				display: flex;
				justify-content: center;
				align-items: center;
				color: $basecolor !important;
				@include font-size(16);
				&:hover {
					color: $brand-color !important;
				}
				&.active {
					color: $brand-color !important;
				}
				&.nav-icon {
					&:before {
						content: "";
						display: block;
						vertical-align: middle;
						background-repeat: no-repeat;
						margin-left: auto;
						margin-right: auto;
						transition: all 0.3s ease;
					}
					&.megaphone {
						&:before {
							background-image: url("../images/icon/ic-megaphone-gray.svg");
							background-repeat: no-repeat;
							background-size: 17px;
							width: 17px;
							height: 17px;
						}
					}
					&.doc {
						&:before {
							background-image: url("../images/icon/ic-google-docs-gray.svg");
							background-repeat: no-repeat;
							background-size: 18px;
							width: 18px;
							height: 18px;
						}
					}
					&.trophy {
						&:before {
							background-image: url("../images/icon/ic-trophy-gray.svg");
							background-repeat: no-repeat;
							background-size: 18px;
							width: 18px;
							height: 18px;
						}
					}
					&.suitcase {
						&:before {
							background-image: url("../images/icon/ic-suitcase-gray.svg");
							background-repeat: no-repeat;
							background-size: 18px;
							width: 18px;
							height: 18px;
						}
					}
					&.bath {
						&:before {
							background-image: url("../images/icon/ic-bath-gray.svg");
							background-repeat: no-repeat;
							background-size: 8px 17px;
							width: 8px;
							height: 17px;
						}
					}
				}
				&.active {
					&.megaphone {
						&:before {
							background-image: url("../images/icon/ic-megaphone-white.svg");

						}
					}
					&.doc {
						&:before {
							background-image: url("../images/icon/ic-google-docs-white.svg");
						}
					}
					&.trophy {
						&:before {
							background-image: url("../images/icon/ic-trophy-white.svg");
						}
					}
					&.suitcase {
						&:before {
							background-image: url("../images/icon/ic-suitcase-white.svg");
						}
					}
					&.map {
						&:before {
							background-image: url("../images/icon/ic-map-white.svg");
							background-repeat: no-repeat;
							background-size: 17px 30px;
							width: 17px;
							height: 30px;
						}
					}
					&.regis {
						&:before {
							background-image: url("../images/icon/ic-regis-white.svg");
							background-repeat: no-repeat;
							background-size: 23px;
							width: 23px;
							height: 23px;
							margin-top: 3px;
						}
					}
					&.bath {
						&:before {
							background-image: url("../images/icon/ic-bath-white.svg");
						}
					}
				}
			}
		}
	}
	.nav-news {
		border-bottom: 2px solid #E84E72;
		padding-left: 25px;
		padding-right: 25px;
		@include max-screen(767px) {
			height: 50px;
		}
		.nav-item {
			.nav-link {
				padding: 10px;
				height: 50px;
				color: rgba(68, 68, 68, 0.5) !important;
				&.nav-icon {
					&:before {
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
					}
				}
				&.active {
					background-color: #E74E72;
					color: $white !important;
					border-radius: 20px 20px 0 0;
				}
			}
		}
	}
	.nav-border {
		.nav-item {
			.nav-link {
				position: relative;
				&.active {
					&:after {
						content: "";
						display: block;
						background: $brand-color;
						width: 100%;
						height: 4px;
						position: absolute;
						bottom: 0;
					}
				}
			}
		}
	}
	.slick-dots {
		bottom: -30px;
	}
}


.calendar-box {
	background: #F2F2F2;
	border-radius: 10px;
	padding: 15px;
	padding-top: 15px !important;
	@include max-screen(575px) {
		margin-top: 30px;
	}
	.calendar-item {
		color: $basecolor;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.22);
		.date-txt {
			@include font-size(20);
			font-weight: $weight-semibold;
		}
		h2 {
			@include font-size(14);
			font-weight: $weight-semibold;
			line-height: 2;
		}
		p {
			@include font-size(12);
		}
		.item-info {
			padding: 0 20px;
			margin: 10px 0;
			display: grid;
			&.item-left {
				border-right: 1px solid rgba(0, 0, 0, 0.22);
			}
		}
	}
	.slider-calendar {
		position: relative;
		&:after {
			content: "";
			background: #F2F2F2;
			width: 100%;
			height: 10px;
			position: absolute;
			top: 0;
		}
	}
	.slick-arrow-list {
		padding-left: 0;
		.prev {
			display: inline-block;
			background-image: url(../images/icon/arrow-prev.svg);
			background-repeat: no-repeat;
			background-size: 14px 19px;
			width: 14px;
			height: 19px;
			margin-left: 8px;
			margin-right: 8px;
		}
		.next {
			display: inline-block;
			background-image: url(../images/icon/arrow-next.svg);
			background-repeat: no-repeat;
			background-size: 14px 19px;
			width: 14px;
			height: 19px;
			margin-left: 8px;
			margin-right: 8px;
		}
	}
}

.box-last {
	padding-top: 0;
	padding-bottom: 55px;
}

.service-row {
	.photo-thumb {
		padding-bottom: 50%;
	}
	.service-item {
		display: block;
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		.service-item-dt {
			position: absolute;
			bottom: 0;
			background: linear-gradient(0deg, #E84E72, #E84E72);
			width: 100%;
			padding: 8px;
			text-align: center;
			color: $white;
			@include font-size(14);
		}
		&:hover {
			.photo-thumb {
				.photo {
					transform: scale(1.2);
				}
			}
		}
	}
}

.content-item {
	display: block;
	h2 {
		@include font-size(14);
		line-height: 26px;
		line-height: 2.6rem;
		// max-height: 78px;
		color: $basecolor !important;
		// @include min-screen(768px) {
		// 	height: 78px;
		// }
	}
	.date {
		color: $basecolor !important;
		@include font-size(13);
	}
	.announce-info {
		padding-left: 22px;
	}
	&.announce-megaphone {
		&:before {
			content: "";
			display: inline-block;
			float: left;
			background-image: url("../images/icon/ic-megaphone-gray.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 13px;
			height: 13px;
			margin-right: 10px;
			margin-top: 8px;
			transition: all 0.3s ease;
		}
	}
	&.announce-doc {
		&:before {
			content: "";
			display: inline-block;
			float: left;
			background-image: url("../images/icon/ic-google-docs-gray.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 13px;
			height: 13px;
			margin-right: 10px;
			margin-top: 8px;
			transition: all 0.3s ease;
		}
	}
	&.announce-trophy {
		&:before {
			content: "";
			display: inline-block;
			float: left;
			background-image: url("../images/icon/ic-trophy-gray.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 13px;
			height: 13px;
			margin-right: 10px;
			margin-top: 8px;
			transition: all 0.3s ease;
		}
	}
	&.announce-suitcase {
		&:before {
			content: "";
			display: inline-block;
			float: left;
			background-image: url("../images/icon/ic-suitcase-gray.png");
			background-repeat: no-repeat;
			background-size: contain;
			width: 13px;
			height: 13px;
			margin-right: 10px;
			margin-top: 8px;
			transition: all 0.3s ease;
		}
	}
	&:hover {
		h2 {
			color: $brand-color !important;
		}
		&.announce-megaphone {
			&:before {
				background-image: url("../images/icon/ic-megaphone.png");
			}
		}
		&.announce-doc {
			&:before {
				background-image: url("../images/icon/ic-google-docs.png");
			}
		}
		&.announce-trophy {
			&:before {
				background-image: url("../images/icon/ic-trophy.png");
			}
		}
		&.announce-suitcase {
			&:before {
				background-image: url("../images/icon/ic-suitcase-gray.png");
			}
		}
	}
}

.slider-institution {
	.slider-item {
		display: block;
		img {
			width: 90px;
			height: 98px;
			object-fit: contain;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 5px;
		}
		p {
			@include font-size(14);
			line-height: 1.6;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			color: $basecolor;
		}
	}
	.slick-prev {
		&:before {
			width: 20px;
			height: 15px;
		}
	}
	.slick-next {
		right: -10px;
		&:before {
			width: 20px;
			height: 15px;
		}
	}
}

.list-dashed {
	padding-left: 15px;
	li {
		list-style-image: url('../images/icon/triangle-right-pink.svg');
		border-bottom: 1px dashed rgba(68, 68, 68, 0.27);
		padding-top: 10px;
		padding-bottom: 10px;
		@include font-size(14);
		line-height: 1.6;
		color: $basecolor;
		a {
			@include font-size(14);
			line-height: 1.6;
			color: $basecolor;
			&:hover {
				color: $brand-color;
			}
		}
		&:last-child {
			border-bottom: none!important;
			padding-bottom: 0!important;
		}
	}
	&.pink {
		li {
			border-bottom: 1px dashed $brand-color;
		}
	}
}

.row-event {
	margin-left: -8px;
	margin-right: -8px;
	.col-event {
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 8px;
		padding-right: 8px;
	}
}

.check-item {
	display: block;
	@include font-size(14);
	line-height: 1.6;
	color: $basecolor;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed rgba(68, 68, 68, 0.27);
	&:hover {
		color: $brand-color;
	}
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		background-image: url("../images/icon/ic-check-circle.svg");
		background-repeat: no-repeat;
		background-size: 20px;
		width: 20px;
		height: 20px;
		margin-right: 10px;
		position: relative;
		bottom: 2px;
	}
	&:last-child {
		border-bottom: none!important;
	}
}

.file-item-ic {
	display: block;
	@include font-size(14);
	line-height: 1.6;
	color: $basecolor!important;
	margin-right: 10px;
	margin-bottom: 2px;
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		background-image: url("../images/icon/ic-file.svg");
		background-repeat: no-repeat;
		background-size: 13px 16px;
		width: 13px;
		height: 16px;
		margin-right: 5px;
		margin-bottom: 2px;
	}
	&:hover {
		text-decoration: underline;
	}
}

.slider-news {
	.slick-prev {
		left: -30px;
	}
	.slick-next {
		right: -35px;
	}
}

.bg-news {
	background-image: url("../images/bg-news.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.content-equal {
	.tab-content {
		min-height: 345px;
		@include min-screen(1200px) {
			min-height: 534px;
		}
	}
}

.box-list {
	.tab-content {
		min-height: 250px;
	}
}

.box-institution {
	.tab-content {
		min-height: 173px;
	}
}

.box-info {
	padding-bottom: 10px;
	@include min-screen(768px) {
		padding-left: 0;
		padding-right: 0;
		.list-dashed {
			padding-left: 30px;
			padding-right: 15px;
		}
	}
}

.stat-list {
	div {
		@include font-size(16);
	}
}

.dark-theme {
	.tab-menu {
		background: #BF294C;
		.nav-tabs {
			background: $black;
			.nav-item {
				.nav-link {
					.nav-content {
						h1 {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.menu-content {
		background: $black;
		.slider-menu {
			&:before {
				background: $black;
			}
			&:after {
				background: $black;
			}
		}
	}
	.box-tab {
		background: $black;
		&.bg-pinklight2 {
			background: #BF294C!important;
			.box-item {
				&:hover {
					.box-item-dt {
						h2 {
							color: $black!important;
						}
					}
				}
			}
		}
		.nav-item {
			.nav-link {
				color: $white !important;
			}
		}
		.slick-dots {
			li {
				button {
					&:before {
						color: $white;
					}
				}
			}
		}
	}
	.box-event {
		background: $black;
	}
	.box-last {
		background: $black;
	}
	.box-info {
		background: #1c1e1f!important;
	}
	.calendar-box {
		background: #1c1e1f!important;
		h2, p {
			color: $white;
		}
		.calendar-item {
			border-bottom: 1px dashed $white;
		}
	}
	.check-item {
		color: $white;
		&:hover {
			color: $brand-color;
		}
	}
	.list-dashed {
		li {
			a {
				color: $white;
			}
		}
	}
	.stat-list {
		div {
			color: $white;
		}
	}
	.slider-institution {
		.slider-item {
			p {
				color: #A2A2A2;
			}
		}
	}
	.slider-calendar {
		&:after {
			content: "";
			background: #1c1e1f;
		}
	}
	.board-item {
		h2 {
			color: $white!important;
		}
	}
	.box-item {
		&.list {
			.photo-thumb {
				background: $black;
			}
			.box-item-dt {
				h3 {
					color: $white;
				}
			}
			&:hover {
				.box-item-dt {
					h3 {
						color: $brand-color;
					}
				}
			}
		}
	}
	.calendar-custom {
		.fc {
			.fc-daygrid-day-frame {
				background-color: #303030;
			}
			.fc-daygrid-day-number {
				color: $white!important;
			}
			.fc-h-event {
				background-color: $brand-color;
				.fc-event-title {
					color: $white;
				}
			}
			.fc-button {
				.fc-icon {
					background: #303030;
					color: $white;
				}
			}
		}
	}
	.card-collapse {
		background-color: $black;
		.card-header {
			.collapse-title {
				color: $white;
			}
		}
		.card-body {
			background-color: #303030;
			color: $white;
		}
	}
	.file-item-ic {
		color: $white!important;;
	}
	.vote-item {
		.check-radio {
			color: $white;
		}
	}
}
.dark-theme {
	&.with-txt-yellow {
		.box-tab {
			.nav-item {
				.nav-link {
					&:not(.active) {
						color: $yellow!important;
					}
				}
			}
		}
		.box-item {
			.box-item-dt {
				h2 {
					color: $yellow;
				}
			}
		}
		.calendar-box {
			h2, p {
				color: $yellow;
			}
		}
		.check-item {
			color: $yellow;
			&:hover {
				color: $brand-color;
			}
		}
		.form-search {
			.form-control {
				color: $yellow;
			}
		}
		.board-item {
			h2 {
				color: $yellow!important;
			}
		}
		.box-item {
			&.list {
				.box-item-dt {
					h3 {
						color: $yellow;
					}
				}
				&:hover {
					.box-item-dt {
						h3 {
							color: $brand-color;
						}
					}
				}
			}
		}
		.calendar-custom {
			.fc {
				.fc-h-event {
					.fc-event-title {
						color: $yellow;
					}
				}
			}
		}
		.card-collapse {
			.card-header {
				.collapse-title {
					color: $yellow;
				}
			}
			.card-body {
				color: $yellow;
			}
		}
		.file-item-ic {
			color: $yellow!important;
		}
		.vote-item {
			&:not(.active) {
				.check-radio {
					color: $yellow;
				}
			}
		}
	}
}

.info-disbursement {
	overflow: hidden;
	@include max-screen(767px) {
		padding-left: 0;
		padding-right: 0;
	}
	.info-head {
		background: linear-gradient(0deg, #E74E72, #E74E72), #3074DB;
		padding: 25px 20px;
		display: flex;
		h1 {
			@include font-size(20);
			line-height: 1.4;
			letter-spacing: 0.03em;
			color: $white;
			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				background-image: url("../images/icon/ic-money-bag.svg");
				background-repeat: no-repeat;
				background-size: 46px;
				width: 46px;
				height: 46px;
				margin-right: 10px;
				margin-top: 5px;
				float: left;
			}
		}
	}
	.info-body {
		padding: 5px 12px 5px;
	}
	.info-item {
		background: $white;
		border: 1px solid #E74E72;
		box-sizing: border-box;
		border-radius: 10px;
		padding: 10px 12px;
		margin-top: 12px;
		margin-bottom: 12px;
		@include font-size(16);
		@include max-screen(767px) {
			div {
				.col-md-auto {
					padding-top: 2px;
					padding-bottom: 2px;
				}
			}
		}
	}
	p {
		color: #C1C1C1;
	}
}

.share-topic {
	@include font-size(18);
	@include max-screen(575px) {
		@include font-size(14);
	}
}

.share-list {
	padding-left: 0;
	list-style: none;
	margin: 12px -5px 0;
	display: flex;
	justify-content: center;
	padding-left: 5px;
	li {
		display: inline-block;
		padding: 0 5px;
		.facebook {
			background: url("../images/icon/ic-facebook.svg");
			display: block;
			background-repeat: no-repeat;
			background-size: 42px;
			width: 42px;
			height: 42px;
			transition: all 0.3s ease;
			@include max-screen(901px) {
				background-size: 32px;
				width: 32px;
				height: 32px;
			}
			@include max-screen(767px) {
				background-size: 42px;
				width: 42px;
				height: 42px;
			}
		}
		.clipboard {
			background: url("../images/icon/ic-clipboard.svg");
			display: block;
			background-repeat: no-repeat;
			background-size: 42px;
			width: 42px;
			height: 42px;
			transition: all 0.3s ease;
			@include max-screen(901px) {
				background-size: 32px;
				width: 32px;
				height: 32px;
			}
			@include max-screen(767px) {
				background-size: 42px;
				width: 42px;
				height: 42px;
			}
		}
		&:hover {
			.facebook, .clipboard {
				transform: scale(1.2);
			}
		}
	}
}

.content-list {
	list-style-type: none;
	padding-left: 0;
	li {
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px dashed #DADADA;
		a {
			h3 {
				@include font-size(16);
				line-height: 1.6;
				color: $basecolor;
				transition: all 0.3s ease;
			}
			p {
				@include font-size(14);
			}
			&:hover {
				h3 {
					color: $brand-color;
				}
			}
		}
	}
}

.tag {
	display: block;
	background-color: #EDEDED;
	padding: 5px 8px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-family: 'Kanit', sans-serif;
	@include font-size(14);
	font-weight: $weight-light;
	color: $basecolor;
	margin-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	transition: all 0.3s ease;
	&:hover {
		background-color: $brand-color;
		color: $white;
	}
}

.badge {
	&.pink {
		background: #FFCEE1;
		box-shadow: 0px 3px 4px rgba(85, 86, 90, 0.04);
		border-radius: 50px;
		@include font-size(16);
		font-weight: $weight-regular;
		line-height: 1.4;
		letter-spacing: 0.03em;
		color: $brand-color;
		padding: 5px 3%;
		white-space: normal;
		@include min-screen(768px) {
			@include font-size(22);
		}
		@include max-screen(767px) {
			display: block;
		}
	}
}

.board-item {
	margin-top: 10px;
	margin-bottom: 10px;
	img {
		width: 220px;
		border: 1px solid $brand-color;
		box-sizing: border-box;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.list-info {
		list-style-type: none;
		text-align: center;
		padding-left: 0;
		li {
			display: inline-block;
			padding-left: 3px;
			padding-right: 3px;
			padding-top: 10px;
			.list-icon {
				display: block;
				background-repeat: no-repeat;
				background-size: 25px;
				width: 25px;
				height: 25px;
				transition: all 0.3s ease;
				@include min-screen(768px) {
					background-size: 35px;
					width: 35px;
					height: 35px;
				}
				&.info {
					background-image: url("../images/icon/ic-info.svg");
				}
				&.phone {
					background-image: url("../images/icon/ic-phone.svg");
				}
				&.envelope {
					background-image: url("../images/icon/ic-envelope.svg");
				}
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
	.list-inline {
		&.team-social {
			margin-top: 10px;
			li {
				display: inline-block;
			}
		}
	}
}

.file-item {
	display: inline-block;
	background-color: #EDEDED;
	font-family: 'Kanit', sans-serif;
	@include font-size(14);
	color: $basecolor;
	letter-spacing: 0.03em;
	border-radius: 8px;
	padding: 5px 8px;
	transition: all 0.3s ease;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	&:hover {
		background-color: $brand-color;
		color: $white;
	}
}

.row-album {
	margin-left: -1rem;
	margin-right: -1rem;
}

.vote-item {
	border: 1px solid #F5A5B1;
	border-radius: 10px;
	padding: 20px 35px;
	transition: all 0.3s ease;
	/* check-radio */
	.check-radio {
		display: block;
		position: relative;
		padding-left: 45px;
		padding-top: 5px;
		margin-bottom: 0!important;
		cursor: pointer;
		font-family: $brandfont;
		@include font-size(16);
		font-weight: $weight-semibold;
		line-height: 1.4;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	/* Hide the browser's default radio button */
	.check-radio input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	/* Create a custom radio button */
	.check-radio .checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: $white;
		border: 1px solid #DADADA;
		border-radius: 50%;
	}
	/* When the radio button is checked, add a blue background */
	.check-radio input:checked ~ .checkmark {
		background-color: $white;
	}
	/* Create the indicator (the dot/circle - hidden when not checked) */
	.check-radio .checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	/* Show the indicator (dot/circle) when checked */
	.check-radio input:checked ~ .checkmark:after {
		display: block;
	}
	/* Style the indicator (dot/circle) */
	.check-radio .checkmark:after {
		top: 4px;
		left: 4px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: $brand-color;
	}
	&.active {
		background: linear-gradient(0deg, #FFCEE1, #FFCEE1), #FFFFFF;
		.check-radio {
			color: $brand-color;
		}
	}
}

.modal-vote, .modal-calendar {
	.modal-dialog {
		@include min-screen(576px) {
			max-width: 650px;
		}
	}
	.modal-content {
		.modal-body {
			padding-bottom: 20px;
			@include min-screen(576px) {
				padding: 35px 60px;
			}
		}
	}
	.modal-title {
		@include  font-size(30);
	}
	h6, p {
		@include  font-size(16);
		color: $basecolor;
		&.c-gray {
			color: #666666!important;
		}
	}
}

.modal-calendar {
	font-family: $basefont;
	.modal-content {
		.modal-body {
			padding-bottom: 20px;
			@include min-screen(576px) {
				padding: 20px 60px 30px;
			}
		}
	}
}

.progress-item {
	margin-top: 10px;
	margin-bottom: 10px;
	h6 {
		@include  font-size(16);
		color: $basecolor;
	}
	.progress {
		margin-top: 10px;
		margin-bottom: 5px;
		width: 75%;
		@include min-screen(576px) {
			width: 80%;
		}
		.progress-bar {
			background-color: $brand-color;
		}
	}
	.progress-num {
		width: 25%;
		text-align: right;
		padding-left: 5px;
		@include min-screen(576px) {
			width: 20%;
		}
	}
}

.card-collapse {
	border-bottom: 1px dashed rgba(68, 68, 68, 0.27);
	border-top: none;
	border-left: none;
	border-right: none;
	padding-top: 15px;
	padding-bottom: 15px;
	.card-header {
		border-bottom: none;
		background-color: transparent;
		padding-left: 0;
		.collapse-title {
			@include font-size(18);
			font-weight: $weight-medium;
			line-height: 1.4;
			color: $basecolor;
			text-transform: uppercase;
			text-decoration: none;
			cursor: pointer;
			&:after {
				content: "";
				display: block;
				background-image: url("../images/icon/arrow-prev.svg");
				background-repeat: no-repeat;
				background-position: 50%;
				background-size: 10px 15px;
				width: 10px;
				height: 15px;
				float: right;
				transform: rotate(90deg);
				transition: all 0.3s ease;
				margin-top: 8px;
			}
			span {
				width: 95%;
				display: inline-block;
			}
			&.collapsed {
				&:after {
					transform: rotate(270deg);
				}
			}
		}
	}
	.card-body {
		background-color: #EEEEEE;
		padding: 20px 30px;
		@include font-size(16);
		line-height: 178.88%;
		text-transform: uppercase;
		color: $basecolor;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.album-text {
	@include font-size(12);
}
