$borderColor: $color-primary-extra-light;
$borderHoverColor: $color-primary;

#form-banner {
    .featured {
        width: 237px;
        height: 136px;
        border: 2px solid $borderColor;
        border-radius: 4px;
        cursor: pointer;
        background-size: cover;
        background-position: center center;

        &:hover {
            border: 2px dashed $borderHoverColor;
            background-color: rgba(240, 240, 240, 0.3);
        }

        &.preview {
            border: 2px solid rgba(240, 240, 240, 1);
            margin-top: 15px;
            &:hover {
                border: 2px dashed $borderHoverColor;
            }
        }

    }

    .image-info {
        margin-top: 10px;
        width: 377px;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        background: #f4f5f8;
        font-size: 12px;
        color: #000;
    }
}

#form-user, #form-profile {
    .featured {
        width: 136px;
        height: 136px;
        border: 2px solid $borderColor;
        border-radius: 4px;
        cursor: pointer;
        background-size: cover;
        background-position: center center;

        &:hover {
            border: 2px dashed $borderHoverColor;
            background-color: rgba(240, 240, 240, 0.3);
        }

        &.preview {
            border: 2px solid rgba(240, 240, 240, 1);
            margin-top: 15px;
            &:hover {
                border: 2px dashed $borderHoverColor;
            }
        }

    }

    .image-info {
        margin-top: 10px;
        width: 377px;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
        background: #f4f5f8;
        font-size: 12px;
        color: #000;
    }
}

.dropzone {
    border: 2px dashed #DBE0E4;
    margin: 10px 0 20px;
}