$font-primary: "Noto Sans Thai", sans-serif;

$color-primary: #bf1864;
$color-primary-extra-light: #faecf2;
$color-success: #27AE60;
$color-success-light: #6FCF97;

$color-grey-light: #bdbdbd;
$color-grey-extra-light: #e0e0e0;
