.fc-title {
    color: #fff;
}

.calendar-custom .fc {
    .fc-toolbar-title {
      font-size: 18px;
      font-size: 1.8rem;
      color: #E84E72;
      padding-left: 20px;
    }
  
    .fc-header-toolbar {
      h2 {
        font-size: 18px;
        font-size: 1.8rem;
        color: #E84E72;
        padding-left: 20px;
      }
  
      .fc-button-group button {
        border: 0;
        background: transparent;
  
        span {
          margin: 0;
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px) {
    .calendar-custom .fc {
      .fc-toolbar-title, .fc-header-toolbar h2 {
        font-size: 26px;
        font-size: 2.6rem;
      }
    }
  }