@import "variable";
@import "form";
@import "calendar";
@import "sitemap";
@import "search";
@import "tags";
@import "datetimepicker";

#myTabContent {
    .slick-slide img {
        border-radius: 10px;
    }
}

.footer-menu {
    justify-content: space-around;
    margin-bottom: 10px;
}

.yt-preview {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center center;
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        width: 56px;
    }
}

.attach-file {
    // margin-eft
}

.landing-page {
    .slider-landing-page {
        height: 100vh;
        
        .slick-slide {
            z-index: 0;
        }
    }

    .actions {
        z-index: 1;
        position: absolute;
        bottom: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .action-wrapper {
            display: inline-block;
        }
    }
}

.photo-thumb {
    .photo {
        background-size: contain;
    }
}