@import "variable";
@import "form";
@import "calendar";
@import "sitemap";
@import "search";
@import "tags";
@import "datetimepicker";

#myTabContent {
    .slick-slide img {
        border-radius: 10px;
    }
}

.footer-menu {
    justify-content: space-around;
    margin-bottom: 10px;
}